name: Build app
on:
  pull_request:
    branches:
    - develop
jobs:
  test:
    name: Testing Swift Package and iOS app
    runs-on: macOS-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Force XCode 11.3
        run: sudo xcode-select -switch /Applications/Xcode_11.3.app
      - name: Build iOS app
        run: exec ./.github/scripts/build_app.sh
